// ColorScheme
$main_color:       #FF8500;
$main_light_color: #FF9C31;
$main_dark_color:  #EC7B00;
$main_bg_color:    #FFE7CC;
$s1_color:         #181CC3;
$s1_light_color:   #4058DA;
$s1_dark_color:    #0C24A1;
$s2_color:         #00C169;
$s2_light_color:   #2BDF6E;
$s2_dark_color:    #00AB40;

// Mixin
@mixin text-size-adjust($size) {
  text-size-adjust: $size;
  -moz-text-size-adjust: $size;
  -ms-text-size-adjust: $size;
  -o-text-size-adjust: $size;
  -webkit-text-size-adjust: $size;
}

@mixin animation-duration($time) {
  animation-duration: $time;
  -moz-animation-duration: $time;
  -ms-animation-duration: $time;
  -o-animation-duration: $time;
  -webkit-animation-duration: $time;
}

@mixin animation-name($name) {
  animation-name: $name;
  -moz-animation-name: $name;
  -ms-animation-name: $name;
  -o-animation-name: $name;
  -webkit-animation-name: $name;
}

@mixin border-radius($size) {
  border-radius: $size;
  -moz-border-radius: $size;
  -ms-border-radius: $size;
  -o-border-radius: $size;
  -webkit-border-radius: $size;
}

@mixin border-bottom-radius($size) {
  border-bottom-right-radius: $size;
  border-bottom-left-radius: $size;
  -moz-border-bottom-right-radius: $size;
  -moz-border-bottom-left-radius: $size;
  -o-border-bottom-right-radius: $size;
  -o-border-bottom-left-radisu: $size;
  -webkit-border-bottom-right-radius: $size;
  -webkit-border-bottom-left-radius: $size;
}

@mixin border-left-radius($size) {
  border-top-left-radius: $size;
  border-bottom-left-radius: $size;
  -moz-border-top-left-radius: $size;
  -moz-border-bottom-left-radius: $size;
  -o-border-top-left-radius: $size;
  -o-border-bottom-left-radisu: $size;
  -webkit-border-top-left-radius: $size;
  -webkit-border-bottom-left-radius: $size;
}

@mixin background-oblique-stripe($base_color, $sub_color, $size) {
  background-image: -moz-linear-gradient(-45deg, $base_color 25%, $sub_color 25%, $sub_color 50%, $base_color 50%, $base_color 75%, $sub_color 75%, $sub_color);
  background-image: -o-linear-gradient(-45deg, $base_color 25%, $sub_color 25%, $sub_color 50%, $base_color 50%, $base_color 75%, $sub_color 75%, $sub_color);
  background-image: -webkit-linear-gradient(-45deg, $base_color 25%, $sub_color 25%, $sub_color 50%, $base_color 50%, $base_color 75%, $sub_color 75%, $sub_color);
  background-image: linear-gradient(-45deg, $base_color 25%, $sub_color 25%, $sub_color 50%, $base_color 50%, $base_color 75%, $sub_color 75%, $sub_color);
  background-size: $size $size;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name { @content; }
  @-moz-keyframes $animation-name { @content; }
  @keyframes $animation-name { @content; }
}

// Base
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html {
  line-height: 1.6;
  font-family: 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
  @include text-size-adjust(100%);
}

body {
  display: block;
  min-width: 960px;
  height: 100%;
  margin: auto;
  background-color: $main_bg_color;
  font-size: 16px;
}

a,
a:hover,
a:focus {
  color: $s1_light_color;
  text-decoration: none;
}

// Module
.site-title {
  font-family: 'Wawati SC', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
  color: white;
}

.site-header {
  width: 100%;
  height: 30px;
  @include background_oblique_stripe($main_color, $main_dark_color, 40px);
}

.site-header-inner {
  position: relative;
  width: 960px;
  height: 100%;
  margin: auto;
}

.header-title {
  font-size: 24px;
  a { color: white; }
  a:hover { text-decoration: none; }
}

.site-footer {
  width: 100%;
}

.copyright {
  text-align: center;
  color: $main_dark_color;
}

.focus-decoration:hover,
.focus-decoration:focus {
  text-decoration: underline;
}

.main-slideshow-area {
  position: relative;
  width: 100%;
  height: 300px;
  background: $main_color;
}

.main-slideshow-area-inner {
  position: relative;
  width: 960px;
  height: 100%;
  margin: auto;
}

.slide-list {
  position: relative;
  width: 100%;
  height: 240px;
  margin: auto;
  overflow: hidden;
}

.slide-item {
  position: absolute;
  width: 100%;
  z-index: 0;
  text-align: center;
  transition: all 0.6s;
}

.information-item {
  top: 15%;
  font-size: 18px;
  color: white;
}

.information-item:not(:first-child) {
  @include animation-duration(0.6s);
  @include animation-name(slide-in);
}

.information-description {
  letter-spacing: 0.5em;
}

.information-title {
  margin: 40px 0;
  font-size: 80px;
  text-shadow:
    0 1px 0 #CCC,
    0 2px 0 #5e5e5e,
    0 3px 0 #DDD,
    0 4px 0 #5e5e5e,
    0 5px 0 #EEE,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

.image-title-icon {
  vertical-align: middle;
}

.word-slide-item {
  top: 35%;
}

.word-slide-item-name {
  margin: 10px 0;
  font-size: 48px;
}

.word-slide-item-furigana {
  font-size: 30px;
}

.card-list {
  position: absolute;
  top: 250px;
  width: 100%;
  height: 60px;
  margin: auto;
}

.card-item {
  float: left;
  margin: 0 10px;
}

.card-item-link {
  padding: 10px;
  background: #ECF0F1;
  border: 2px solid #2980b9;
  @include border-radius(6px);
  cursor: pointer;
  transition: all 0.2s;
  opacity: 0.6;
}

.card-item-link:hover {
  text-decoration: none;
  opacity: 1;
}

.main {
  position: relative;
  width: 960px;
  height: 310px;
  margin: 20px auto;
}

.main-kana {
  width: 720px;
  margin: 0 auto;
}

.kana-list {
  width: 100%;
}

.kana-row {
  clear: left;
}

.kana-item {
  position: relative;
  float: left;
  width: 64px;
  height: 64px;
  margin: 0px 4px;
  text-align: center;
}

.kana-item-link {
  line-height: 50px;
  padding: 8px;
  background: $main_color;
  @include border-radius(6px);
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
}

.kana-item-link:hover {
  padding: 16px;
  font-size: 32px;
  color: $s1_color;
  text-decoration: none;
}

.kana-item-blank {
  line-height: 50px;
  padding: 8px;
  color: #9c9c9c;
  background: #9c9c9c;
  @include border-radius(6px);
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s;
}

.button-movable-word {
  color: black;
  position: absolute;
  top: 42%;
  cursor: pointer;
  z-index: 100;
}

.tab-button-list {
  position: absolute;
  left: 10%;
  top: 0%;
  clear: left;
}

.tab-button-item {
  color: black;
  position: relative;
  float: left;
  background: white;
  margin: 0 4px;
  padding: 10px;
  @include border-bottom-radius(6px);
  font-family: 'Wawati SC', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
  cursor: pointer;
  z-index: 100;
}

.button-clear-word {
}

.button-remove-word {
}

.button-movable-left  {
  left: 100px;
}

.button-movable-right {
  right: 100px;
}

.alert {
  position: absolute;
  top: 68%;
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.modal {
  background: rgba(255,255,255,0.8);
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 200;
}

.modal-control {
  background: $main_dark_color;
  @include border-left-radius(6px);
  position: absolute;
  height: 50px;
  width: 60px;
  line-height: 52px;
  text-align: center;
}

.modal-button-close {
  top: 15px;
  right: 500px;
  color: $main_bg_color;
  cursor: pointer;
}

.modal-button-close:hover {
  color: $main_bg_color;
  text-decoration: none;
}

.modal-content {
  background: white;
  box-shadow: -1px 0 2px rgba(0,0,0,0.4);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 500px;
  overflow: visible;
  overflow-y: scroll;
}

.word-log-item {
  clear: left;
  padding: 20px;
}

.word-log-item-row {
  position: relative;
  float: left;
}

.word-log-item-row.encircle-area {
  top: 10px;
}

.word-log-item-row.word-item-area {
  left: 10px;
}

.word-log-item-row div {
  margin: 4px 0;
}

.word-log-item-name {
  font-size: 24px;
  margin-right: 10px;
}

.word-log-item-furigana {
  font-size: 18px;
  color: #bbbbbb;
}

.encircle {
  border: 2px solid #2980b9;
  font-size: 18px;
  padding: 4px;
  @include border-radius(16px);
}

// State
$movement-of-word: 50%;

.on-left-side {
  left: -$movement-of-word;
}

.on-right-side {
  left: $movement-of-word;
}

.on-center {
  left: 0px;
}

.is-hidden {
  display: none;
}

.is-opaqued {
  opacity: 0;
}

.is-new.word-slide-item {
  @include animation-duration(0.6s);
  @include animation-name(slide-in);
}

.is-head .card-item-link {
  border: 4px solid $s2_dark_color;
  color: #2c3e50;
  font-size: 24px;
  opacity: 1;
}

.is-last .card-item-link {
  border: 4px solid $s2_light_color;
  color: #2c3e50;
  font-size: 24px;
  opacity: 1;
}

@include keyframes(slide-in) {
  from { opacity: 0; left: $movement-of-word; }
  to   { opacity: 1; left: 0%; }
}
